<!-- <p>menu works!</p>
<mat-form-field>
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>


<mat-slide-toggle>Toggle me!</mat-slide-toggle> -->

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-lg-4" *ngFor="let fd of foodData">
            <div class="foodbox mt-3 mb-3">
                <img src="{{fd.foodImg}}">
                <h1>{{fd.foodName}}</h1>
                <p>{{fd.foodDetails}}</p>
                <p>{{fd.foodPrice | currency:'CAD'}}</p>
                <a class="buybtn" [routerLink]="['/menu', fd.id]">Buy Now <i class="bi bi-bag"></i></a>
            </div>
        </div>
    </div>
</div>
  