<div class="container mt-5 mb-5">
    <h1 class="text-center">About</h1>
    <p>
        Welcome to our desi foods startup in Cornwall, Canada, where we bring the authentic flavors of Indian and Pakistani home-cooked meals straight to your table. Whether you're missing the warmth of traditional dishes or seeking a new culinary experience, our restaurant is dedicated to serving you the rich, diverse tastes that remind you of home.
        <br/>
        Every meal is crafted with care, using family recipes passed down through generations, and prepared with the freshest ingredients to ensure you enjoy the essence of authentic desi cuisine. From aromatic biryanis and flavorful curries to homemade rotis and refreshing chutneys, our menu offers a variety of beloved dishes that are sure to transport you back to the kitchens of India and Pakistan.
        <br/>
        Join us for a comforting, home-like dining experience where each bite reconnects you with the flavors you cherish. Your home away from home is just a meal away!
        <br/>
    </p>
</div>